.App {
  background-color: #101111;
  padding-left: 25vw;
  padding-right: 25vw;
}

::-webkit-scrollbar {
  display:none;
}

.artwork {
  width: 710px;
  height: 711px;
  padding-bottom: 30px;
  animation: fadeIn 2s;
}

.title {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 48px;
  animation: fadeInLeft 1.3s;
}

.subtitle {
  color: #B8B8B8;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  animation: fadeInLeft 1.3s;
  padding-bottom: 50px;
}

.caption {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  animation: fadeInLeft 1.3s;
}

.caption-grey {
  color: #B8B8B8;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  animation: fadeInLeft 1.3s;
}

.caption-info {
  color: #B8B8B8;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  animation: fadeInLeft 1.3s;
}

.about {
  color: #B8B8B8;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  animation: fadeInLeft 1.3s;
  text-align: justify;
}
hr {
  background-color: #101111;
  color: #6D6D6D;
  border-top: solid 0.01px #101111;
  border-left: solid 0.01px #101111;
  border-right: solid 0.01px #101111;
  border-bottom: solid 2px #6D6D6D;
  height: 120px;
  width: 100%;
}

.KLIMAindex {
  animation: fadeInLeft 1.3s;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: white;
}

.KLIMA {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

a.opensea {
  color: #B8B8B8;
}

a.opensea:hover {
  color: #cfcfcf;
}

a.footer {
  color: rgb(221, 215, 215);
}

a.footer:hover {
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    margin-left: -100px;
  }
  to {
    opacity: 1; 
    margin-left: 0px;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    margin-right: -100px;
  }
  to {
    opacity: 1; 
    margin-right: 0px;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 1;
    margin-top: -10000px;
  }
  to {
    opacity: 1; 
    margin-top: 0px;
  }
}